<footer class="footer">
    <div class="container footer-container">
            <a class="footer-logo"  href="./#home">
            <img src="/img/footer/logo.png" alt="logo" loading="lazy">
        <p>plainquest.space</p></a>
        <p class="footer-text-one">The Bay never sleeps. Neither do its hunters.</p>
            <ul class="footer-navigation">
                <li class="footer-link">
                    <a class="footer-underline" href="privacy.html">Privacy Policy</a>
                </li>
                <li class="footer-link">
                    <a class="footer-underline" href="terms.html">Terms</a>
                </li>
            </ul>
            <p class="footer-text">© 2025 Bay Hunter Pro. All rights reserved.</p>
    </div>
</footer>