<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
            <div class="title-container">
                <img src="/img/title/title.png" alt="dot" loading="lazy">
                <h2>Now Live</h2>
            </div>
            <h1 class="home-title">Hunt. Dive.<br/><span class="home-span">Conquer.</span> </h1>
            <p class="home-text">Cast your line into the vast Bay. Uncover sunken legends, rare fish, and ancient gold beneath the deep blue. The Bay
            doesn't give up its secrets easily — but you're a Pro.</p>
        </div>
    </div>
</section>