.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 100%;
  height: 81px;
backdrop-filter: blur(24px);
  background: rgba(14, 20, 26, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header-container {
  padding: 20px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-left: auto;
  background-color: inherit;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
background: #101415;
  padding: 130px 80px;
  width: 100%;
  height: 812px;
  z-index: 999;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

}


.menu-item {
font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #94a3b8;
  transition: color 0.3s ease-in-out;
}

.menu-item:hover,
.menu-item:focus,
.menu-item.active {
color: #ffce37;
}


@media screen and (min-width: 1440px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    gap: 40px;
  }

  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .navigation-item {
font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #94a3b8;
    display: flex;
    justify-content: center;
    transition: color 0.3s ease-in-out;
  }

  .navigation-item:hover {
color: #ffce37;
  }

  .navigation-item:focus,
  .navigation-item.active {
color: #ffce37;
  }
}