.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 772px;
}
.home-wrapper{
    margin-top: 214px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}
.home-wrapper .title-container{
    margin-bottom: 0;
    width: 110px;
    margin-left: 0;
}
.home-title{
font-family: "Cinzel", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #dde3eb;
}
.home-span{
color: #ffce37;
}
@media only screen and (min-width: 1440px) {
.home-section{
    background-image: url("/img/home/desk.png");
}
.home-container{
    padding-left: 104px;
}
.home-wrapper{
    margin-top: 180px;
width: 384px;
}
.home-title{
font-size: 64px;
    letter-spacing: -0.01em;
}  
}
/* Core Features */
.features-section{
background: radial-gradient(80.04% 128.06% at 50% 0%, #162b44 0%, #0e141a 100%);
}
.features-section .title-container{
    width: 150px;
    justify-content: center;
}
.features-text{
    text-align: center;
}
.main-swiper{
    margin-top: 32px;
}
.main-swiper .swiper-slide{
border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 16px;
    width: 282px;
    height: 362px;
    background: #0d2238;
    display: flex;
    flex-direction: column;
}
.slider-title{
    margin-top: 20px;
    margin-bottom: 8px;
font-family: "Cinzel", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: #ffce37;
}
@media only screen and (min-width: 1440px) {
.features-text{
width: 448px;
margin-left: auto;
margin-right: auto;
}
.main-swiper{
    margin-top: 48px;
    width: 870px;
    margin-left: auto;
    margin-right: auto;
}
.main-swiper .swiper-wrapper{
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}  
}
/* How to Play */
.how-section .title-container{
    width: 130px;
}
.how-text{
    text-align: center;
}.how-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    gap: 32px;
}
.how-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.how-item{
    display: flex;
    align-items: start;
    gap: 24px;
}
.how-item-number{
font-family: "Cinzel", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.0625;
    color: #ffce37;
}
.how-item-title{
font-family: "Cinzel", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: #ffce37;
    margin-bottom: 4px;
}
.how-item-wrapper{
    width: 274px;
}
@media only screen and (min-width: 1440px) {
.how-text{
   width: 448px;
   margin-left: auto;
   margin-right: auto;
}.how-wrapper{
flex-direction: row-reverse;
justify-content: center;
    margin-top: 64px;
    gap: 64px;
}
.how-list{
width: 564px;
}
.how-item-wrapper{
width: 500px;
}    
}
/*  What Awaits Below */
.what-section .title-container{
    width: 190px;
}
.what-text{
    text-align: center;
}
.what-list{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.what-item{
border: 2px solid #99907c;
    border-radius: 16px;
    padding: 24px;
    width: 290px;
    height: 440px;
box-shadow: inset 0 0 25px 2px rgba(153, 144, 124, 0.4);
    background: #000c15;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.what-item-title{
font-family: "Cinzel", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: #ffce37;
    text-align: left;
    margin-bottom: 8px;
}
.what-item-wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 14px;
}
.what-item-text{
font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857;
    color: #94a3b8;
}
.w2{
border: 2px solid #a5bad9;
}
.w3{
border: 2px solid #ffce37;
}
.w4{
border: 2px solid #3de4e7;
}
.what-section h3{
    margin-bottom: 0;
}
@media only screen and (min-width: 1440px) {
.what-list{
    margin-top: 64px;
flex-direction: row;
justify-content: center;
gap: 24px;
}
.w2, .w4{
margin-top: 28px;
}   
}